* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark-blue {
  color: #093549;
}

.light-blue {
  color: #1c9fda;
}

.light-gray {
  color: #475467;
}

/* .input {
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  margin: 0.5em;
  text-align: center;
  border: 1px solid gray;
  border-radius: 0.25em;
} */
